/* Основные настройки страницы */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
  /* max-width: 250px; */
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 219, 247);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

/* ______________________________________ */

/* HEADER */

.header {
  margin-bottom: 25px;
  background-color: rgb(86, 165, 238);
  color: #fff;
}

.header_title {
  font-size: 30px;
  font-weight: 700;
  text-align: top;
}

/* __________________________________________ */

/* MAIN */

/* FORMA */

.add-task {
  background-color: #adcdf5;
  width: 400px;
  height: 110px;
  margin-right: 1000px;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 35px;
}

.add-task-title {
  font-weight: 700;
  font-size: 24px;
}

.task_form {
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.task_but {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  color: white;
  border-left: none;
  font-size: 16px;
  font-family: sans-serif;
  background-color: rgb(86, 165, 238);
  border-radius: 10px;
}

/* TASK-BOARD */

ul li {
  width: 250px;
}

.taskBoard {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 100px;
  margin-bottom: 20px;
}

.tasklist {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #8993ac;
}

.list_title {
  font-size: 15px;
  font-weight: 550;
  padding: 10px;
  margin-bottom: 15px;
}

.tasks {
  background-color: #dcc5c5;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 450;
  color: rgb(0 0 0 / 74%);
  max-width: 300px;
  border-style: hidden hidden hidden solid;
  border-width: thin thin thin 5px;
}

.cancel {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  font-weight: 550;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  background-color: #ec6969;
  display: inline-block;
  border-style: hidden;
  text-align: center;
}
