.tasks {
    background-color: #dcc5c5;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 450;
    color: rgb(0 0 0 / 74%);
    max-width: 300px;
    border-style: hidden hidden hidden solid;
    border-width: thin thin thin 5px;
  }